body{
margin:0;
overflow:hidden;
background:black;
color:white;
font-family:Arial;
}

#bg{
position:fixed;
inset:0;
background-size:cover;
background-position:center;
z-index:-1;
transition:1s ease;
}

#menuScreen{
position:fixed;
inset:0;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
gap:12px;
background:rgba(0,0,0,0.7);
z-index:10;
}

.hidden{display:none;}

button{
padding:10px 20px;
background:black;
color:white;
border:1px solid white;
}

#dialogueBox{
position:absolute;
top:30%;
left:50%;
transform:translate(-50%,-50%);
width:90%;
max-width:600px;
background:rgba(0,0,0,0.6);
padding:15px;
border:1px solid white;
transition:0.4s;
}

#choices{
position:absolute;
top:70%;
left:50%;
transform:translateX(-50%);
display:flex;
flex-direction:column;
gap:10px;
width:80%;
}

.choice-btn{
padding:10px;
background:black;
color:white;
border:1px solid white;
}

#cursor{
width:12px;
height:12px;
border-radius:50%;
background:white;
position:fixed;
pointer-events:none;
mix-blend-mode:difference;
}
