body{
margin:0;
background:black;
color:white;
font-family:Arial;
overflow:hidden;
}

/* BACKGROUND */
#bg{
position:fixed;
inset:0;
background-size:cover;
background-position:center;
filter:brightness(0.6);
z-index:-1;
}

/* MENU */
#menuScreen{
position:fixed;
inset:0;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
gap:12px;
background:black;
z-index:9999;
}

.menu-title{
color:#ff4da6;
font-size:28px;
}

/* SETTINGS */
#settingsPanel{
position:fixed;
inset:0;
background:rgba(0,0,0,0.9);
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
gap:10px;
z-index:10000;
}

.hidden{display:none;}

/* DIALOGUE */
#dialogueBox{
position:absolute;
top:35%;
left:50%;
transform:translate(-50%,-50%);
width:90%;
max-width:700px;
background:rgba(0,0,0,0.6);
padding:15px;
border:1px solid #ff4da6;
border-radius:10px;
}

#choices{
position:absolute;
top:75%;
left:50%;
transform:translateX(-50%);
display:flex;
flex-direction:column;
gap:8px;
width:90%;
max-width:500px;
}

.choice-btn{
padding:10px;
border:1px solid #ff4da6;
background:black;
color:white;
}

/* CURSOR */
#cursor{
position:fixed;
width:10px;
height:10px;
border-radius:50%;
background:#ff4da6;
pointer-events:none;
}
