body{
margin:0;
overflow:hidden;
background:black;
color:white;
font-family:Arial;
}

#bg{
position:fixed;
inset:0;
background-size:cover;
background-position:center;
z-index:-1;
transition:1s ease;
filter:brightness(0.6);
}

/* MENU */
#menuScreen{
position:fixed;
inset:0;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
gap:12px;
background:rgba(0,0,0,0.6);
z-index:10;
}

button{
padding:10px 20px;
background:black;
color:white;
border:1px solid white;
cursor:pointer;
}

/* STORY BOX */
#storyBox{
position:absolute;
top:20%;
left:50%;
transform:translateX(-50%);
width:80%;
max-width:700px;
background:rgba(0,0,0,0.5);
padding:15px;
border:1px solid white;
}

#storyText{
font-size:18px;
line-height:1.6;
white-space:pre-wrap;
}

/* QUESTION BOX */
#questionBox{
position:absolute;
top:50%;
left:50%;
transform:translateX(-50%);
width:80%;
max-width:700px;
background:rgba(0,0,0,0.7);
padding:10px;
border:1px solid white;
text-align:center;
font-size:18px;
}

/* CHOICES */
#choices{
position:absolute;
top:70%;
left:50%;
transform:translateX(-50%);
display:flex;
flex-direction:column;
gap:10px;
width:80%;
max-width:500px;
}

.choice-btn{
padding:10px;
background:black;
color:white;
border:1px solid white;
cursor:pointer;
}

/* ENDING */
#ending{
position:absolute;
inset:0;
display:flex;
justify-content:center;
align-items:center;
background:rgba(0,0,0,0.8);
}

.letter{
max-width:700px;
padding:20px;
border:1px solid white;
background:black;
}

/* CURSOR */
#cursor{
width:12px;
height:12px;
border-radius:50%;
background:white;
position:fixed;
pointer-events:none;
mix-blend-mode:difference;
}

/* BUTTERFLY TRAIL */
.cursor-butterfly{
position:fixed;
font-size:14px;
pointer-events:none;
animation:fade 1s linear forwards;
}

@keyframes fade{
0%{opacity:1; transform:scale(1);}
100%{opacity:0; transform:scale(2);}
}
